<form method="post" action="{{ path('app_todo_list_delete', {'id': todo_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo_list.id) }}">
    <button class="btn">Delete</button>
</form>
